<%= link_to "Back to Movies", root_path %>
<%= paginate @users %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.full_name %></td>
      <td><%= user.email %></td>
      <td><%= user.admin? ? '* Admin *' : 'User' %></td>
      <td><%= link_to "Edit", edit_user_path(user) %> | <%= link_to "Delete", user_path(user), method: :delete, data: {confirm: "Are you sure?"} %> | <%= link_to "Preview", admin_path(user) %><%= session[:preview] %></td>
    </tr>
  </tbody>
  <% end %>
</table>
<%= link_to "Create a new user", new_user_path %>