<%= link_to "Back to Movies", root_path %>
<%= paginate @users %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.full_name %></td>
      <td><%= user.email %></td>
      <td><%= user.admin? ? '* Admin *' : 'User' %></td>
    </tr>
  </tbody>
  <% end %>
</table>