<!DOCTYPE html>
<html>
  <head>
    <title>RottenMangoes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_preview_mode? %>
    <p>You are currently previewing as <%= current_user.email %>. <%= link_to "Click here", admin_preview_path, method: :delete %> to return to your admin account.</p>
    <% end %>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value) %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
